body{
	font-family: 'Arvo';
	background-image: url(img/fondo3.jpg); 
	background-attachment: fixed;
	background-size: cover;
}
header{
	width:100%;
	height:146px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	width: 370px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

#barrabotoneraPrincipal{
	width: 100%;
	height: auto;
}

nav .ulindex{
	list-style-type: none;
	margin: 0;
	padding: 0;	
	display: flex;
	justify-content: space-around;
	align-content: center;
}

nav .ulindex .liindex{
	flex-grow: 1;
 	text-align: center;
}

nav .ulindex .liindex a{
	display: block;
	padding: 10px; 
	color: black;
	background-color: #099675;
	text-decoration: none;
	font-weight: bold; 	
}

nav .ulindex .liindex a:hover {
	background-color:black;
	color: #099675;
}

footer{
	width:90%;
	height:180px;
	margin-left: auto;
	margin-right: auto;
}
#datos_contacto{
	width:35%;
	height:180px;
	float: left;
	color: white;
}
#contacto{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}

#lineaContacto{
	margin:0px;
}

.listaIconos{
	margin-top: 10px;
}

#formulario_contacto{
	width:35%;
	height:180px;
	float: left;
	margin-top: 35px;	
}

.caja-1{
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
	font-family: 'Arvo';
	background: none;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color: #ffbb00;
	color: white;
	font-size: 14px;
}


button{
	width: 120px;
	height: 30px;
	background-color: #099675;
	border-style: none;
	margin-top: 10px;
	font-family: 'Arvo';
	font-size: 16px;
}

button:hover{
	color: white;
	font-size: 18px;
}
#redes{
	width:30%;
	height:45px;
	float: right;
	margin-top: 20px;
}

.iconored{
	color: grey;
	float: right;
}

@media all and (min-width: 600px) and (max-width: 1023px){

#logo{
	width: 310px;
}

nav .ulindex{
	list-style-type: none;
	margin: 0;
	padding: 0;	
	display: flex;
	justify-content: space-around;
	align-content: center;
}

nav .ulindex .liindex{
	flex-grow: 1;
 
}

nav .ulindex .liindex a{
	font-size: 13px;
	
}

#datos_contacto{
	width:40%;
}

.listaIconos{
	
	font-size: 14px;
}

#formulario_contacto{
	width:35%;
	margin-top: 25px;	
}

.caja-1{
	width: 160px;
}

button{
	width: 100px;
	font-size: 12px;
}

button:hover{
	font-size: 14px;
}
#redes{
	width:20%;
}

}/* Fin de media de 600 a 1023 */

@media all and (max-width: 599px){

header{
	width:90%;
	height:auto;
}

#logo{
	width: 100%;
}


#barrabotoneraPrincipal{
	width: 100%;
	float: none;
	
}


nav .ulindex{
	float: none;
	justify-content: none;
	display: block;
}

nav .ulindex .liindex{
	display: block;
}

nav .ulindex .liindex a{
	display: block;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 5px;
	font-size: 15px;
}


footer{
	width:90%;
	height:auto;
}
#datos_contacto{
	width:60%;
	height:auto;
	font-size: 14px;
}
#contacto{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}

#lineaContacto{
	margin:0px;
}

.listaIconos{
	margin-top: 10px;
}

#formulario_contacto{
	display: none;
}


#redes{
	width:40%;
	height: 50px;
	float: right;
}
} /*Fin media celulares*/

