body{
	font-family: 'Arvo';
	background-image: url(img/fondo3.jpg); 
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}

header{
	width:100%;
	height:auto;
	display: flex;
	flex-direction: column;
}

#logo{
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imglogo{
	width: 240px;
	height: 120px;
}

#barrabotoneraPrincipal{
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	display: flex;	
}

nav .ulindex{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;	
	display: flex;
}

nav .ulindex .liindex{
	display: flex;
	flex-grow: 1;
}

nav .ulindex .liindex a{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: 10px; 
	text-decoration: none;
	background-color: #099675;
	color: black;
	font-weight: bold; 	
}

nav .ulindex .liindex a:hover {
	background-color:black;
	color: #099675;
}

footer{
	width:100%;
	height:180px;
	display: flex;
}

#datos_contacto{
	width:35%;
	height:180px;
	color: white;
}

#contacto{
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 0px;
	font-size: 22px;
}

#lineaContacto{
	margin-top: 3px;
	margin-left: 15px;
	border-width: 1.5px;
	border-style: solid;
	background-color:#099675; 
	border-color:#099675;  
	width: 93px;
}


.listaIconos{
	margin-top: 10px;
}

.enlaces{
	text-decoration: none;
	color: white;
}

#formulario_contacto{
	width:35%;
	height:180px;
	margin-top: 35px;	
}

.caja-1{
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
	font-family: 'Arvo';
	background: none;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom-color: #ffbb00;
	color: white;
	font-size: 14px;
}



button{
	width: 120px;
	height: auto;
	cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
	background-color: #099675;
	border-style: none;
	margin-top: 10px;
	font-family: 'Arvo';
	font-size: 18px;
}

button:hover{
	color: white;
}

#redes{
	width:30%;
	height:45px;
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.iconored{
	color: grey;
}

.iconored:hover{
	color: #ffbb00;
}

@media all and (min-width: 600px) and (max-width: 1023px){


.imglogo{
	width: 250px;
}


nav .ulindex .liindex a{
	font-size: 13px;
	
}

#datos_contacto{
	width:40%;
}

.listaIconos{
	
	font-size: 14px;
}

#formulario_contacto{
	width:35%;
	margin-top: 25px;	
}

.caja-1{
	width: 165px;
}

#redes{
	width:25%;
}

}/* Fin de media de 600 a 1023 */

@media all and (max-width: 599px){

header{
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

#barrabotoneraPrincipal{
	margin-bottom: 0px;	
}

nav .ulindex{
	flex-direction:column;
}


nav .ulindex .liindex{
	margin-bottom: 5px;
}

footer{
	width:90%;
	height:auto;
	margin-right: auto;
	margin-left: auto;
}
#datos_contacto{
	width:60%;
	height:auto;
	font-size: 14px;
}
#contacto{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}

#lineaContacto{  
	width: 85px;
}

.listaIconos{
	margin-top: 10px;
}

#formulario_contacto{
	display: none;
}

#redes{
	width:40%;
	height: 50px;
}

} /*Fin media celulares*/

