section#inicio{
	width:100%;
	height:auto;
	display: flex;
	flex-direction: column;
}


#imagenes{
	width: 100%;
	height: 28.125em;
	padding: 1.25em;
	box-sizing: border-box;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(img/inicio2.jpg);
	background-size: cover;
	background-position: center center;
}


#imagenes p{
	margin: 0;
	padding: 0.192em;
	box-sizing: border-box;
	font-size: 3.25em;
	font-weight: bold;
}

@keyframes changecolor{
	0%{
		color:transparent;
	}
	100%{
		color: #ffbb00;
	}
}

.animacion{
	width: auto;
	height: auto;
	animation: changecolor 5s ease-in 1 normal forwards;
}



#intro{
	width: 95%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	color: white;
	text-align: center;
	padding: 1.25em;
	box-sizing: border-box;
	
}

.hrintro{
	width: 100%;
	margin-right:auto;
	margin-left: auto;
	border-width: 0.094em;
	border-style: solid;
	background-color:#ffbb00; 
	border-color:#ffbb00;
}

#titIntro{
	margin-top: 0.278em;
	margin-bottom: 0.278em;
	font-size: 2.25em;
}


#textointro{
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-size: 1.25em;
	line-height: 1.5em;
}

.mainflexcontenedor{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contenedorflex{
	width: 33%;
	display: flex;
	flex-direction: column;
	background-color: #099675;
	padding: 0 0.625em 0.625em 0.625em;
	box-sizing: border-box;
	color: black;
}

.texto{
	text-align: center;
}

.imagen{
	height: 18em;
	background-size: cover;
	background-position: center center;
}

.margenbottom{
	margin-bottom: 0.375em;
}

.imagencalis{
	background-image: url(img/calistenia.jpg);
}

.imagenfuncional{
	background-image: url(img/funcional.jpg);
}

.imagenstretch{
	background-image: url(img/stretching.jpg);
}

.imagenweight{
	background-image: url(img/tips.jpg);
}
.imagenrunners{
	background-image: url(img/runners.jpg);
}
.imagenhit{
	background-image: url(img/hit.jpg);
}


@media all and (min-width: 600px) and (max-width: 1023px){

#imagenes{
	height: 24.375em;
}

#imagenes p{
	font-size: 2.625em;
	padding: 0.238em;
}

#titIntro{
	font-size: 1.875em;
}

#textointro{
	font-size: 1.125em;
}

.contenedorflex{
	width: 49.5%;
}

.texto{
	font-size: 0.875em;
}


}/* Fin de media de 600 a 1023 */

@media all and (max-width: 599px){

section#inicio{
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

#imagenes{
	width: 100%;
	height: 15.625em;
}

#imagenes p{
	padding: 0.2em;
	font-size:1.563em;
}

#intro{
	width: 100%;
}

#titIntro{
	font-size: 1.625em;
	line-height: 1.077em;
}

#textointro{
	font-size: 0.875em;
	line-height: 1.429em;
}

.mainflexcontenedor{
	width: 100%;
	flex-direction: column;

}

.contenedorflex{
	width: 100%;
}

.margen{
	margin-left: 0;
	margin-top: 0.313em;
}

}/* Fin de media celulares*/