#barrabotoneraPrincipal .ulindex li:nth-child(3) a{
	background-color:black;
	color: #099675;
}


.contenedorintro{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.contenedorintrorutinas{
	width: 50%;
	background-color: rgba(34, 41, 36, 0.7);
	color: white;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.h2rutinas{
	text-decoration: underline;
	text-decoration-color: #099675;
	text-underline-position: under;
	margin-top: 0px;
}

.h3rutinas{
	font-size: 20px;
	font-weight: normal;
}

.ulrutinas{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	line-height: 23px;
	text-align: left;	
	list-style-type: square;
	padding-inline-start: 0px;
	margin-block-end: 0em;
}

.introp{
	line-height: 23px;
	text-align: left;
}
.introp2{
	width: 108px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
.introp4{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	line-height: 23px;
}
.introp3{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	line-height: 23px;
	font-size: 18px;
	padding: 10px;
	border: solid;
	border-color: #ffbb00;
}

.introp3 a{
	text-decoration: none;
	color: white;
}

.introp3 a:hover{
	color:#099675;
}

.mainflexcontenedor{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.contenedorflex{
	display: flex;
	flex-direction: column;
	width: 33%;
	background-color: #099675;
	padding: 10px;
	box-sizing: border-box;
	color: white;
}


.imagen{
	height: 18rem;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
}


.imagencalis{
	background-image: url(img/calistenia.jpg);
}

.imagenfuncional{
	background-image: url(img/funcional.jpg);
}

.imagenstretch{
	background-image: url(img/stretching.jpg);
}

.imagenweight{
	background-image: url(img/tips.jpg);
}
.imagenrunners{
	background-image: url(img/runners.jpg);
}
.imagenhit{
	background-image: url(img/hit.jpg);
}
.imagen:before{
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}


.imagen h2{
	position: relative;
	margin-top: 120px;
	
}

.imagen h2:hover{
	font-size: 36px;	
}

.texto{
	text-align: center;
	font-size: 20px;
}

.texto p{
	margin-top: 10px;
	margin-bottom: 0px;
}
.margenbottom{
	margin-bottom: 6px;
}

@media all and (min-width: 600px) and (max-width: 1023px){

.ulrutinas{
	width: 89%;
}

.introp2{
	width: 108px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}


.contenedorflex{
	width: 49.5%;
}

.imagen h2:hover{
	font-size: 24px;	
}


} /*Fin media min 600 max 1023*/

@media all and (max-width: 599px){

.contenedorintro{
	width: 90%;
	flex-direction: column;
}

.contenedorflex{
	width: 100%;
}

.contenedorintrorutinas{
	width: 100%;
}

.contintrorutinaresponsive{
	text-align: left;
}

.h2rutinas{
	text-align: center;
}


.ulrutinas{
	width: 90%;
	margin-left: 20px;
	margin-right: 0px;
	
}

.imagen h2:hover{
	font-size: 24px;	
}

.mainflexcontenedor{
	width: 90%;
	flex-direction: column;
}
.margenbottom{
	margin-bottom: 5px;
}

.margen{
	margin-left: 0px;
	margin-top: 5px;
}

}/* Fin media celulares*/