#barrabotoneraPrincipal .ulindex li:nth-child(4) a{
	background-color:black;
	color: #099675;
}

section{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.proxp{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.contenedorintro{
	width: 100%;
	background-color: rgba(34, 41, 36, 0.7);
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	color: white;
}

.introp{
	padding: 10px;
	box-sizing: border-box;
	line-height: 23px;
}


.h1servicios{
	text-decoration: underline;
	text-decoration-color: #099675;
	text-underline-position: under;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
}



@media all and (max-width: 599px){
.contenedorintro{
	flex-direction: column;
	
}
} /*Fin media celulares*/